*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@media screen and (max-width: 768px){
    .mini .down{
        background-color: rgba(0, 0, 0, 0.968);
        /* position: fixed; */
        box-shadow: -1px 9px 9px 8px black;
        /* display: flex; */
        /* border: 2px solid white; */
        /* top:90vh; */
        bottom: 0px;
        padding-top: 15px;

        padding-bottom: 15px;
        color: white;
        height: 80px;
        width: 100%;
        /* height: 100%; */
        /* margin-bottom: 15px; */
    }
    .mini .down ul {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        /* padding-left: 90px; */
        overflow: hidden;
        

    }
    .mini .down ul li{
        font-size: 30px;
        height: 50px;
        width: 50px;
        /* border: 1px solid white; */
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mini .down ul li:hover{
        cursor: pointer;
        color:rgb(222, 189, 189) ;
    }
    .mini .down ul li .circle {
        height: 100%;
        width: 100%;
        display: flex;
        border: 2px solid rgb(193, 60, 30);
        border-radius: 50%;
        overflow: hidden;
    }
    .mini .down ul li .circle img{
        height: 100%;
        width: 100%;
        /* border-radius: 50%; */
    }
}
@media screen and (max-width: 420px){
    .mini .down{
        background-color: rgba(0, 0, 0, 0.968);
        /* position: fixed; */
        box-shadow: -1px 9px 9px 8px black;
        /* display: flex; */
        /* border: 2px solid white; */
        /* top:90vh; */
        bottom: 0px;
        padding-top: 15px;

        padding-bottom: 15px;
        color: white;
        height: 50px;
        width: 100%;
        /* height: 100%; */
        /* margin-bottom: 15px; */
    }
    .mini .down ul {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        /* padding-left: 90px; */
        overflow: hidden;
        

    }
    .mini .down ul li{
        font-size: 20px;
        height: 30px;
        width: 30px;
        /* border: 1px solid white; */
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mini .down ul li:hover{
        cursor: pointer;
        color:rgb(222, 189, 189) ;
    }
    .mini .down ul li .circle {
        height: 100%;
        width: 100%;
        display: flex;
        border: 2px solid rgb(193, 60, 30);
        border-radius: 50%;
        overflow: hidden;
    }
    .mini .down ul li .circle img{
        height: 100%;
        width: 100%;
        /* border-radius: 50%; */
    }
}