.video-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    background:url('"https://www.youtube.com/embed/4mVhw-LP_bw?si=QuM6WeEy2goyeX3l"');
    padding: 10px;
    width: 600px;
    margin: auto;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: url('https://www.youtube.com/embed/4mVhw-LP_bw?si=QuM6WeEy2goyeX3l');
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    color: white;
}

.controls button {
    padding: 8px 16px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: #666;
}

.controls input[type="range"] {
    width: 100px;
}
